/*General CSS */
body {
  max-height: 100vh;
}

.hide {
  display: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Nunito";
}

h1:hover {
  cursor: pointer;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-bottom: 0px;
}

p {
  text-align: center;
}
h1 {
  text-align: center;
  margin-bottom: 0px;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.medium-2 {
  margin-right: 10px;
}

.button {
  border-radius: 100px;
}

/*Header*/
.header {
  text-align: center;
  background-color: #14679e;
}
.links {
  text-align: right;
  align-self: center;
}

.nav-button {
  background-color: rgb(255, 255, 255);

  border-radius: 15px 0 0 15px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 18px 15px 18px;
}

.nav-button:hover {
  background-color: rgb(255, 255, 255);
  border: 3px solid white;
  border-radius: 15px 0 0 15px;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 18px 15px 18px;
}

.hero {
  background-image: url("../images/roadmap-digital-transformation2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}

/*Address Page */
#address-page {
  display: flex;
  text-align: center;
  justify-content: center;
}

.user-input-form {
  justify-content: center;
}

.address-page-info {
  width: 100%;
}
.form-size {
  width: 500px;
}

#address-page ::placeholder {
  text-align: center;
}

/*Events Page*/
#EventsPage p {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 20px;
}

.dates-select ::placeholder {
  color: black;
}
.genre-select {
  width: 200px;
}

.dates-select {
  width: 200px;
}

.distance-select {
  width: 200px;
}

.sort-select {
  width: 200px;
}

.submit-btn {
  width: 100%;
  margin-top: 0px;
}

.select-position {
  position: relative;
}
.images {
  height: 200px;
  width: 200px;
}
.event-btn {
  border: 5px solid #14679e;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 30px;
}
/*Datepicker*/
.ui-datepicker {
  width: 300px;
  height: 300px;
  margin: 5px auto 0;
  font: 12pt Arial, sans-serif;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: #3399ff;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #111;
}

.ui-datepicker-title {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.ui-datepicker-prev {
  float: left;
  cursor: pointer;
  background-position: center -30px;
  padding-left: 5px;
}

.ui-datepicker-next {
  float: right;
  cursor: pointer;
  background-position: center 0px;
  padding-right: 5px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
}

.ui-datepicker th {
  text-transform: uppercase;
  font-size: 9pt;
  color: #666666;
}

.ui-datepicker tbody td {
  padding: 0;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  border-bottom: 1px solid #bbb;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span,
.ui-datepicker td a {
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
}

.ui-datepicker-calendar .ui-state-default {
  background: linear-gradient(#999999, #737373);
  color: #ffffff;
  height: 40px;
  width: 40px;
}

.ui-datepicker-calendar .ui-state-hover {
  background: #33adff;
  color: #ffffff;
}

.ui-datepicker-calendar .ui-state-active {
  background: #33adff;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: #e0e0e0;
  text-shadow: 0px 1px 0px #4d7a85;
  border: 1px solid #55838f;
  position: relative;
  margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #d6e4be;
  color: #000;
}

/*Directions Page*/
#directions-page {
  margin-bottom: 15px;
}
#instructions {
  padding: 0px 20px 20px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 2em;
  max-height: 300px;
}

.duration {
  font-size: 1.2em;
}

.button-group {
  margin-top: 30px;
}

/*Past Trips*/
#my-trips-page {
  text-align: center;
}

.pastTrips {
  border: 5px solid #14679e;
  border-radius: 5px;
  margin-top: 10px;
  width: 60%;
}
#trip-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Footer*/
#footer {
  margin-top: 50px;
  bottom: 0;
  left: 0%;
  width: 100%;
  text-align: center;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #14679e;
}
